* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(255, 217, 0, 0.486);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#nav-items {
    align-items: center;
    display: flex;
    gap: 15px;
    /* color: black; */
    /* text-decoration: none; */
    list-style: none;
    /* text-decoration-color: black; */
}

#nav-items a {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.nav-item-text{
    display: flex;
    align-items: center;
}

.dee-name a {
    color: black;
    font-size: 30px;
    font: bolder;
    text-decoration: none;
    display: flex;
    text-align: right;
    list-style-type: none;
    font-style: oblique;
}

header {
    background-image: url(../assets/images/consult\ image\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.image-container {
    /* flex: content; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px; */
}

.hero-section {
    align-content: center;
    display: flex;
}

.hero-section-container h4 {
    font-size: 15px;
    font: bold;
    margin-top: 70%;
    margin-left: 30%;
    margin-bottom: 1%;
}

/* .fas-fa-play-circle:hover{
    font-size: 48px;
    color: red;
} */

.hero-section-container h2 {
    margin-left: 30%;
    font-size: 40px;
    font: bold;
    margin-bottom: 3%;
}

.hero-section-container p {
    margin-left: 30%;
    font-size: 12px;
    line-height: 1.5;
    font: bold;
}

.hero-button a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    align-items: center;
    text-align: center;
    display: flex;
    border-radius: 12px;
    background-color: palevioletred;
    border: none;
    width: 200px;
    height: 35px;
    /* padding-top: 20%; */
}
/* .middle-section{
    background-size: cover;
} */

.middle-section h1 {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 9%;
}

.middle-section h3 {
    font-size: 200%;
    color: black;
    margin-top: 2%;
    margin-left: 20%;
    align-items: center;
    margin-bottom: 4%;
    margin-right: 20%;
}

.middle-section-image:hover{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-row-gap: 0px;
    /* border-radius: 20px;
    width: 30%;
    height: 500px;
    align-items: center; */
    align-items: center;
    position: static;
    /* background-size: cover; */
    margin-left: 15%;
    margin-right: 20%;
    display: flex;
    transition: all 0.4s;
    
}

.middle-section-image img{
border-radius: 20px;
    width: 315px;
    height: 500px;
    align-items: center;
} 

.appointment-button{
    border-radius: 12px;
    width: 200px;
    height: 30px;
    background-color: white;
    border: none;
}

.appointment-button-down{
    border-radius: 12px;
    width: 200px;
    height: 30px;
    background-color: white;
    border: none;
    margin-left: 30%;
    margin-top: 5%;
}

.next {
    background-color: green;
    color: black;
}

.previous {
    background-color: green;
    color: black;
  }

  /* .flex-container{
    width: 50%;
    margin: auto;
    display: flex;
  } */

.main-container{
    width: 50%;
    margin: 0 20px;
}

.main-container h1{
    text-align: center;
    font-size: 50px;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.flex-container{
    display: flex;
    gap: 25px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.text-container{
    width: 50%;
    gap: 20px;
}

.image-container{
    width: 25%;
    align-items: center;
    display: flex;
    
}

.image-container img{
    width: 100%;
}

.text-container h2{
    margin-bottom: 1.2rem;
}

.text-container p{
    line-height: 1.1;
    margin-bottom: 5.2rem;
    color: rgb(32, 21, 21);
    line-height: 1.8;
    margin-top: 5%;
}

.home-item img{
    width: 100%;
}

.flex-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
}

.text-section-two{
    background-color: #FDCFCF;
    display: flex;
    height: 200px;
    margin-bottom: 5%;
}

.text-section-two p{
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    font: bold;
    line-height: 1.5;
}

.text-section-two h2{
    font-size: 50px;
    font: bold;
    margin-top: 25%;
    color: black;
}

.text-section-two h4{
    color: gray;
    /* margin-top: 1rem; */
}

/* .image-container-two{
    border-radius: 12px;
    width: 200px;
    height: 30px;
    border: none;
    margin-left: 30%;
    margin-top: 5%;
} */

.footer-text{
    width: 50%;
}

.footer-text h2{
    margin-bottom: 25px;
}

.footer-text p{
    gap: 5px;
    line-height: 1.8;
    margin-bottom: 2%;
} 

.image-container-middle img{
    width: 80%;
    margin: 0 auto;
    gap: 15px;
}

.footer-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    /* position: relative; */
    
}

#footer-map{
    background-image: url(../assets/images/consult\ 9.jpg);
    width: 50vw;
}

.footer{
    background-color: rgb(5, 5, 61);
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 50px;
grid-row-gap: 0px;
width: 80vw;
/* margin-left: 20%; */
overflow: visible;

}

.footer h2{
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 40%;
}
.footer h4{
    color: grey;
    margin-bottom: 2%;
    margin-left: 40%;
}

.footer p{
    color: white;
    display: flex;
    gap: 15pt;
    margin-bottom: 31%;
    line-height: 1.8;
    margin-left: 40%;
}

#footer-items{
    position: relative;
    display: flex;
    gap: 15pt;
    border-right: 10px white;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 10%;
    /* overflow: visible; */
}

.list-items-footer{
    color: white;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    /* margin-top: 10%; */
}

.list-items-footer a{
    /* align-items: normal; */
    color: white;
    /* justify-content: center; */
    display: block;
    text-decoration: none;
    line-height: 1.5;
    margin-top: 20%;
    
}

.footer-search{
    width: 25%;
    background-color: red;
    color: white;
    border: none;
    height: 25px;
    /* padding-top: 3%; */
    /* padding-bottom: 20px; */
    /* align-items: center; */
    padding: 20px;
    display: flex;
}